<div class="flex-container">
    <h2>Welcome to CSE Motors!</h2>

    <%- messages() %>

    <div id="layout-car-card">
        <div id="own-card" class="card">
            <h3>DMC Delorean</h3>
            <p>3 cup holders</p>
            <p>Superman Doors</p>
            <p>Fuzzy dice!</p>
            <button id="index-own-button">Own Today</button>
        </div>
        <img id="car-hero" src="images/vehicles/delorean.jpg" alt="DMC Delorean car">
    </div>

    <div id="reviews-wrapper">
        <h2>DMC Delorean Reviews</h2>

        <ul id="reviews">
            <li>"So fast it's almost like traveling in time." (4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feeling McFly!" (5/5)</li>
            <li>"The most futuristic ride of our day." (4.5/5)</li>
            <li>"80's livin and I love it!" (5/5)</li>
        </ul>  
    </div>

    <div id="upgrade-cards-wrapper">
        <h2>Delorean Upgrades</h2>

        <div id="upgrade-cards">
            <div class="indavidual-cards">
                <div class="upgrade-pic-background card">
                   <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor"> 
                </div>
                <a href="/flux">Flux Capacitor</a>
            </div>

            <div class="indavidual-cards">
                <div class="upgrade-pic-background card">
                    <img src="/images/upgrades/flame.jpg" alt="Flame Decals">
                </div>
                <a href="/decals">Flame Decals</a>
            </div>

            <div class="indavidual-cards">
                <div class="upgrade-pic-background card">
                    <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Sticker">
                </div>
                <a href="/stickers">Bumper Stickers</a>
            </div>

            <div class="indavidual-cards">
                <div class="upgrade-pic-background card">
                    <img src="/images/upgrades/hub-cap.jpg" alt="Hub Cap">
                </div>
                <a href="/hubcaps">Hub Caps</a>
            </div>

        </div>
    </div>
</div>