/*******************************
        Table of Contents
*******************************/

/*******************************
    1.  General Styles (colors, fonts, etc.)
*******************************/
  /* 1.1 font import */
  /* 1.2 box model */
  /* 1.3 typography */
  /* 1.3.1 alignment */
  /* 1.4 colors */

/*******************************
    2.  Navigation
*******************************/
  /* 2.1 nav */
  /* 2.2 nav ul */
  /* 2.3 nav li */
  /* 2.4 nav links */

/*******************************
      3. Layout (flexbox, position, etc.)
*******************************/
  /* 3.1 wrapper (body div) */
  /* 3.2 main */
  /* 3.3 header */
  /* 3.4 footer */

  /* 3.5 flexbox */
  /* 3.5.1 car hero */
  /* 3.6 grid */

/*******************************
      4. Components (buttons, cards, etc.)
*******************************/
/* 4.1 buttons */
/* 4.2 cards */
/* 4.3 forms */

/*******************************
      5. Page Specific
*******************************/
/* 5.1 home */
/* 5.1.1 upgrade cards */

/* 5.2 inventory */
/* 5.3 car detail */
/* 5.4 inv management */
/* 5.5 account management */

/*******************************
      6. Responsive Design (media queries)
*******************************/
/* 6.1 mobile */
/* 6.2 tablet */
/* 6.3 desktop */

/*******************************
        End of Table of Contents
*******************************/

/* 1.1 font import */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');

/* 1.2 box model */
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* 1.3 typography */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
}

main {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  margin: 0;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  margin: 0;
}

.bold{
  font-weight: bold;
}

/* 1.3.1 alignment */
#upgrade-cards-wrapper {
  text-align: left;
}

#upgrade-cards{
  text-align: center;
}

#reviews{
  padding-left: 1rem;
}

#car-card{
  text-align: center;
}

/* 1.4 colors */
:root {
  --primary: #74121d;
  --secondary: #a7333f;
  --dark: black;
  --light: #fff;
}

.indavidual-cards a{
  color: var(--dark);
  text-decoration: none;
}

.indavidual-cards a:hover{
  color: var(--secondary);
}

body {
  background-color: var(--light);
}

#wrapper{
  background-color: var(--light);
}

/********************************
        2. Navigation 
*********************************/

/* 2.1 nav */
nav {
  background-color: var(--primary);
  margin: 1%;
}

/* 2.2 nav ul */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
}

/* 2.3 nav li */
nav li {
  display: block;
  color: var(--light);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav a{
  color: var(--light);
  text-decoration: none;

}

nav li:hover {
  background-color: var(--secondary);
}

.my-links{
  max-width: 100%;
}

/********************************
        3. Layout
*********************************/

/* 3.1 wrapper (body div) */
#wrapper{
  max-width: 600px;
  margin: 2% auto;
  width: 100%;
}

/* 3.2 main */
main{
  padding: .5em;
}

/* 3.3 header */
#top-header{
  display: flex;
  justify-content: space-between;
  padding: .5rem 0;
  margin: 1%;
}

#top-header h1{
  margin: 0;
}

#top-header a{
  color: var(--dark);
  text-decoration: none;
}

#top-header a:hover{
  color: var(--secondary);
}

/* 3.4 footer */
footer{
  background-color: var(--primary);
  color: var(--light);
  padding: .5rem;
  text-align: left;
}

footer a{
  color: var(--light);
  text-decoration: none;
  padding: .25rem;
}

footer a:hover{
  background-color: var(--secondary);
}

/* 3.5 flexbox */
.flex-container {
  display: flex;
  flex-wrap: wrap;
}

/* 3.5.1 car hero */
#layout-car-card{
  position: relative;
  width: 100%;
  height: auto;
}

#car-hero{
  width: 98%;
  height: auto;
}

#own-card{
  position: absolute;
  max-width: 175px;
  max-height: 300px;
  top: 0px;
}

/* 3.6 grid */
#upgrade-cards{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}



/********************************
        4. Components
*********************************/
/* 4.1 buttons */
button{
  background-color: var(--secondary);
  border: none;
  color: var(--light);
  padding: .5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin: .5rem;
  cursor: pointer;
}

button:hover{
  background-color: var(--primary);
}

#index-own-button{
  margin: .5rem 0;
}

/* 4.2 cards */
.card {
  border: 1px solid black;
}

/* 4.3 forms */
input:required:invalid, input:focus:invalid {
  /* insert your own styles for invalid form input */
  background-color: rgb(231, 110, 110);
 }

form{
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: .5rem;
  padding: 1rem;
  background-color: var(--primary);
  color: var(--light);
  border-radius: .5rem;
  border: 3px solid var(--dark);
}

form button{
  border: 2px solid var(--light);
}

form p{
  margin-top: 8px;
  margin-bottom: 8px;
}

label {
  display: block;
  margin-bottom: 8px;
}

select {
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

form a{
  color: var(--light);
}

form a:hover{
  background-color: var(--secondary); 
  padding: .25rem;
}

/********************************
        5. Page Specific
*********************************/
/* 5.1 home */
#layout-car-card div{
  background-color: rgba(255, 255, 255, 0.85);
  color: var(--secondary);
  width: 100%;
}

#own-card{
  padding: .5rem;
  margin: .5rem;
}

/* 5.1.1 upgrade cards */
.upgrade-pic-background {
  position: relative;
  width: 200px;
  height: 125px;
  background-color: var(--secondary);
  overflow: hidden;
  text-align: center;
  margin: .5rem;
}

.upgrade-pic-background img {
  width: 50%;
  height: auto;
  margin: .5rem;
}

#reviews li{
  padding: .25rem;
}

#custom-view-h2{
  margin: auto;
  text-align: center;
}

/* 5.2 inventory */
.car-cards{
  border: black solid 2px;
  padding: .5rem;
  padding-top: 0%;
  max-width: 250px;
  margin: 12px 0;
  background-color: var(--secondary);
}

.car-cards h3{
  font-size: 1.5rem;
  font-weight: bold;
}

.car-cards a{
  color: var(--light);
  text-decoration: none;
  padding: .05rem;
}

.car-cards a:hover{
  background-color: var(--primary);
}

.car-cards span {
  color: var(--light);
}

.car-cards img{
  border: black solid 2px;
  display: block;
  margin: 0 auto;
}

#inv-display{
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
}

/* 5.3 car detail */

#description-grid{
  margin: 0 auto;
}

#description-grid p{
  padding: 1rem;
}

#specifics-top img{
  padding-right: 1rem;
}

.description-ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

#make-h3{
  padding: .5rem;
  background-color: var(--secondary);
  color: var(--light);
}

#description-h4{
  padding: .5rem;
  background-color: var(--secondary);
  color: var(--light);
  margin: 0 1rem;
}

/* 5.4 inv management */

.inv-management{
  margin: auto;
  text-align: center;
}

.inv-management a{
  color: var(--dark);
  padding: .5rem;
}

.inv-management a:hover{
  color: var(--secondary);
}

/* 5.5 account management */
.not-centered{
  text-align: left;
  margin: 0;
}

.account-management a{
  color: var(--dark);
}

.account-management a:hover{
  color: var(--secondary);
}

/********************************
        6. Responsive Design
*********************************/
/* 6.1 mobile */
@media (max-width: 600px) {
  .my-links{
    display: none;
  }

  body{
    max-width: 100%;
  }

  header{
    max-width: 350px;
  }

  #wrapper{
    margin: 0;
  }

  nav{
    margin: 0;
  }

  nav li{
    padding: 5px 12px;
  }

  #own-card{
    max-width: 150px;
    max-height: 205px;
    margin: 0;
  }

  #own-card h3{
    font-size: 1.25rem;
    font-weight: bold;

  }

  .upgrade-pic-background{
    max-width: 150px;
    max-height: 100px;
  }

  #specifics-container{
    grid-template-columns: 1fr;
  }

  #specifics-container img{
    max-width: 100%;
    padding: 0%;
  }

  #description-h4{
    margin: 0%;
  }

  #description-grid p{
    padding: .05rem;
  }
}

/* 6.2 tablet */


/* 6.3 desktop */
@media (min-width: 570px) {
  .hamburger-menu{
    display: none;
  }
  
  .my-links{
    display: flex;
  }

  body {
    width: 100%;
    background-image: url(/images/site/small_check.jpg);
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  #wrapper{
    max-width: 900px;
    border: var(--primary) solid 5px;
    border-radius: 10px;
  }

  h2 {
    margin: 1rem;
  }

  #car-hero{
    max-width: 75%;
    height: auto;
  }

  #upgrade-cards{
    grid-template-columns: 1fr 1fr;
  }

  #own-card{
    max-width: 175px;
    max-height: 300px;
    margin: 1.5rem;
  }

  #own-card h3{
    font-size: 1.5rem;
    font-weight: bold;
  }

  .upgrade-pic-background{
    max-width: 200px;
    max-height: 125px;
  }

  #reviews li{
    padding: .5rem;
  }

  #upgrade-cards-wrapper {
    order: 1;
    width: 50%;
  }

  .indavidual-cards{
    text-align: left;
  }

  .indavidual-cards a{
    margin: .5rem;
  }

  #reviews-wrapper{
    order: 2;
    margin-left: 1rem;
  }

  #reviews-wrapper h2 {
    margin-left: 0px;
  }

  #specifics-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.5fr .5fr;
    width: 100%;
  }
  
  #description-grid{
    grid-column: 1 / 3;
    grid-row: 2 / 2;
  }


}