<%# content heading %>
<% if (title) { %>
    <h2 id="custom-view-h2"><%= title %></h2>
    <% } else {
      res.redirect('/')
    } 
%>

<%# messages() %>

<%# the inventory items display %>
<%- grid %>
