<% if (title) { %>
  <h2 id="custom-view-h2"><%= title %></h2>

  <% } else {
    res.redirect('/')
  } 
%>

<%- messages() %>

<div class="inv-management">
  <a href="/inv/add/classification">Add New Classification</a>
  |
  <a href="/inv/add/inventory">Add New Inventory</a>
</div>
<h2>Manage Inventory</h2>
<p>Select a classification from this list to see the items in the classification!</p>
<%- dropDown %>

<table id="inventoryDisplay"></table>

<noscript>JavaScript must be enabled to use this page.</noscript>

<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>

<script src="../../js/inventory.js"></script>